@font-face {
  font-family: "lindenHill";
  src: url("LindenHill-webfont.ttf") format("truetype");
  src: url("LindenHill-webfont.eot") format("eot");
  src: url("LindenHill-webfont.woff") format("woff");
}

@font-face {
  font-family: "raleway";
  src: url("Raleway-VF.ttf") format("truetype");
  src: url("Raleway-VF.woff") format("woff");
  src: url("Raleway-VF.woff2") format("woff");
}

@font-face {
  font-family: "neue";
  src: url("TheNeue-Black.ttf") format("truetype");
}

@font-face {
  font-family: "redux";
  src: url("theredux-regular.ttf") format("truetype");
}

@font-face {
  font-family: "metro";
  src: url("metro-df.ttf") format("truetype");
}
